@model CreateFilmVM
@{
    ViewData["Title"] = "CreateFilm";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
	<label>Film Adı</label>
	<input type="text" asp-for="FilmName" class="form-control" />
	@*<span asp-validation-for="SeriesName" class="text-danger"></span>*@
	<br />
	<label>Film Senesi</label>
	<input type="text" asp-for="FilmYear" class="form-control" />
	@*<span asp-validation-for="ProductPrice" class="text-danger"></span>*@
	<br />
	<label>Film Açıklaması</label>
	<input type="text" asp-for="FilmDescription" class="form-control" />
	@*<span asp-validation-for="ProductDescription" class="text-danger"></span>*@
	<br />

	<label>Film Kategorisi</label>
	@Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v1, new { @class = "form-control" })
	@*<span asp-validation-for="CategoryID" class="text-danger"></span>*@
	<br />
	<label>Film Yönetmeni</label>
	@Html.DropDownListFor(x => x.DirectorId, (List<SelectListItem>)ViewBag.v2, new { @class = "form-control" })
	@*<span asp-validation-for="CategoryID" class="text-danger"></span>*@
	<br />
	<button class="btn btn-primary">Film Ekle</button>
</form>
