
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/darkpan-1.0.0/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Oğuzhan Seçgel</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Anasayfa/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Anasayfa</a>          
        </div>
        <div class="navbar-nav w-100">
            <a href="/Series/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Diziler</a>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Film/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Filmler</a>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Director/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Yönetmenler</a>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Category/index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Kategoriler</a>
        </div>
    </nav>
</div>
